
/* Iphone and Smartphones */

@media (max-width: 600px) {
h2.center{
	        text-align: center;
}
	
button.btn.btn-success.link {
	        margin-left: 120px;
	        margin-bottom: 10px;
}
button.btn.btn-success.link1 {
	        margin-left: 120px;
	        margin-bottom: 10px;
}

}

@media (max-height:  400px)  {
h2.center{
	       text-align: center;
}     
button.btn.btn-success.link {
	        margin-left: 280px;
	        margin-bottom: 10px;
}
button.btn.btn-success.link1 {
	        margin-left: 280px;
	        
}


}

/* Ipad and Ipad pro */
@media (min-width: 700px) and (max-width:1024px ) {

button.btn.btn-success.link {
	        margin-bottom: 10px;
	        
       }
     
 
button.btn.btn-success.link1 {
	        margin-left: 25px;
             	       
}
 


}
/* Blackberry classic */
@media (min-width: 346px) and (max-height: 391px ) {

   button.btn.btn-success.link {
	        margin-left: 100px;
	        margin-bottom: 10px;
       }
   button.btn.btn-success.link1 {
	        margin-left: 100px;
	        
}


}
/* Asus Nexus 7 (V1) */
@media (min-width: 604px) and (max-height: 967px ){

     button.btn.btn-success.link {
	        margin-bottom: 10px;
	        margin-left: -8px;
	        
       }
       
       

}

/* Microsoft Surface Pro  Remember to fix it*/

@media  (min-width:  1025px ){

     button.btn.btn-success.link {
	        
	        margin-left: -100px;
       }
       button.btn.btn-success.link1 {
	        margin-left: 0px;
	        
       }
       h2.center{
       	          text-align: left;
       }


}

@media  (min-width: 900px ){
   .back2{
   	        height: 800px;
   }

}


